<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理系统</title>
<link rel="stylesheet" type="text/css" href="__CSS__/RightFrm.css" />
<script type="text/javascript" src="__JS__/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="__JS__/Comm.js"></script>
</head>
<body>
<table  border="0" cellpadding="0" cellspacing="1" class="headTable">
  <tr>
    <th width="80%">管理员列表</th>
    <th width="20%" class="links"><a href="{:U('admin/add')}">【新增】</a></th>
  </tr>
</table>
<table  border="0" cellpadding="0" cellspacing="1" class="listTable">
  <tr>
    <th width="3%">&nbsp;</th>
    <th width="27%">用户名</th>
    <th width="20%">前台名称</th>
	<th width="20%">最后登录时间</th>
    <th width="10%">登录次数</th>
    <th width="20%">操作</th>
  </tr>
  <volist name="list" id="vo">
	  <tr>
		<td class="center" morenys="#E7EBEE" style="background-color: rgb(231, 235, 238);">
			<if condition="$adminTheObj['id'] neq $vo['id']">
				<input type="checkbox" name="theId" value="{$vo.id}">
			</if>
		</td>
		<td>{$vo.username}</td>
		<td class="center">{$vo.nickname}</td>
		<td class="center">{$vo.lastLoginTime}</td>
		<td class="center">{$vo.loginNum}</td>
		<td class="center"><a href="{:U('admin/edit',array('id'=>$vo['id']))}">【修改】</a></td>
	  </tr>
  </volist>

</table>
<div class="pages">{$page}</div>
<table  border=0 cellpadding=0 cellspacing=1  class="cmdTable">
  <tr>
    <th>
	<span onClick="selectAll('theId');">全选</span>&nbsp;&nbsp;&nbsp;&nbsp;
	<span onClick="unSelectAll('theId');">全不选</span>&nbsp;&nbsp;&nbsp;&nbsp;
	<span onClick="antiSelectAll('theId');">反选</span>&nbsp;&nbsp;&nbsp;&nbsp;
	<span onclick="handleSelect('theId','{:U(\'admin/delete\')}');">删除</span>
	</th>
  </tr>
</table>
<iframe name="hideframe" width="0" height="0"></iframe>
<script type="text/javascript">$(function(){setTableColor();});</script>
</body>
</html>