<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理系统</title>
<link rel="stylesheet" type="text/css" href="__CSS__/RightFrm.css" />
<script type="text/javascript" src="__JS__/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="__JS__/Comm.js"></script>
<script type="text/javascript" src="__JS__/news/ThisJs.js"></script>
<script src="__PUBLIC__/laydate/laydate.js"></script>
</head>
<body>
<table  border="0" cellpadding="0" cellspacing="1" class="headTable">
  <tr>
    <th width="80%">修改类别</th>
    <th width="20%" class="links"><a href="{:U('news/sortList?id='.$rootId)}">【返回】</a></th>
  </tr>
</table>
<form name="theForm" method="post" action="{:U('news/sortUpdate')}" onsubmit="return ckTheSortForm(this);">
  <input type="hidden" name="id" value="{$sortObj.id}" />
  <input type="hidden" name="pid" value="{$sortObj.pid}" />
  <table border="0" cellpadding="0" cellspacing="1" class="formTable">
  	
    <tr>
      <th width="10%">标题：</th>
      <td width="90%"><input type="text" name="sortName" value="{$sortObj.sortName}" size="40" />
        <input type="submit" value=" 提 交 " class='btn' />
        &nbsp;&nbsp;
        <input type="reset" value=" 重 填 " class='btn' />
      </td>
    </tr>

		<if condition="( in_array($sortObj['pid'],array()) ) or ( in_array($sortObj['rootId'],array()) )">
    	<tr>
	      <th width="10%">图片：</th>
	      <td width="90%">
	      	<input type="text" name="picture" value="{$sortObj.picture}" size="40" />
	      	<input type="button" value=" 图片上传 " class="btn" onclick="showUploadDialog('image','theForm.picture','__PUBLIC__')" />
	      </td>
	    </tr>
    </if>
	
  </table>
</form>

</body>
</html>