<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理系统</title>
<link rel="stylesheet" type="text/css" href="__CSS__/RightFrm.css" />
<script type="text/javascript" src="__JS__/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="__JS__/Comm.js"></script>
<script type="text/javascript" src="__JS__/member/ThisJs.js"></script>
</head>
<body>
<table  border="0" cellpadding="0" cellspacing="1" class="headTable">
  <tr>
    <th width="80%">新增</th>
    <th width="20%" class="links"><a href="{:U('member/lists',array('id'=>2))}">【返回】</a></th>
  </tr>
</table>
<form name="theForm" method="post" action="{:U('member/addTgz')}" onsubmit="return ckAdd(this);">
<table border="0" cellpadding="0" cellspacing="1" class="formTable">
  <tr>
    <th width="20%">用户名：</th>
    <td width="80%"><input type="text" name="username" value="" size="40" /></td>
  </tr>
  <tr>
    <th>邮箱：</th>
    <td><input type="text" name="email" value="" size="40" /></td>
  </tr>
  <tr>
    <th>密码：</th>
    <td><input type="password" name="pass1" value="" size="40" /></td>
  </tr>
  <tr>
    <th>确认密码：</th>
    <td><input type="password" name="pass2" value="" size="40" /></td>
  </tr>
  <tr>
    <th>审核类型：</th>
    <td>
    	<select name="shenHeType">
    		<volist name="typeList" id="vo">
	    		<option value="{$vo.id}">{$vo.sortName}</option>
    		</volist>
    	</select>
    </td>
  </tr>
  <tr>
    <th>&nbsp;</th>
    <td><input type="submit" value=" 立 即 提 交 " class="btn" /></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
</table>
</form>
<script type="text/javascript">$(function(){setTableColor("no");});</script>
</body>
</html>