@charset "utf-8";
/* CSS Document */
body{margin:0px; padding:0px; font-size:12px; font-family:宋体,Arial, Helvetica, sans-serif; line-height:180%;}


/*顶部*/
#Top-Sizer{
	width:100%; 
	height:80px; 
	overflow:hidden; 
	position:relative; 
}
#Top-Sizer .extend
{
	width:100%; 
	height:80px; 
	overflow:hidden; 
}
#Top-Sizer .Dispaly_1
{width:273px; height:80px; overflow:hidden; float:left; background:url(../Images/frame_toplogo.png) no-repeat;}
#Top-Sizer .Dispaly_2
{position:absolute; right:20px; top:46px; color:#fff; line-height:30px;}

/*左侧*/
html {
	color: #000000;
	/*background:#28ADE5;*/
	scrollbar-base-color:		#28ADE5;
	scrollbar-face-color:		#28ADE5;
	scrollbar-track-color:		#004F7C;
	scrollbar-arrow-color:		#ffffff;
	scrollbar-highlight-color:	#254BAA;
	scrollbar-3dlight-color:	#004F7A;
	scrollbar-shadow-color:		#004F7C;
	scrollbar-darkshadow-color:	#28ADE5;	
}
body {
	color: #000000;
	background:url(../Images/bgn3.jpg);
	scrollbar-base-color:		#28ADE5;
	scrollbar-face-color:		#28ADE5;
	scrollbar-track-color:		#004F7C;
	scrollbar-arrow-color:		#ffffff;
	scrollbar-highlight-color:	#254BAA;
	scrollbar-3dlight-color:	#004F7A;
	scrollbar-shadow-color:		#004F7C;
	scrollbar-darkshadow-color:	#28ADE5;	
}

#Left-Sizer
{width:100%;height:auto; overflow:hidden;}
#Left-Sizer .Bengin
{width:100%px;height:37px; overflow:hidden;
 background:url(../Images/bgn1.jpg) repeat-x;}
#Left-Sizer .Bengin em
{width:100%px;height:37px; overflow:hidden; display:block;
 background:url(../Images/bgn2.jpg) 11px 8px no-repeat;
 font-size:14px; font-weight:bold; font-style:normal; line-height:37px; text-indent:37px;}
 
#Left-Sizer .OneRecord,#Left-Sizer .OneRecordGd
{width:100%;height:auto;overflow:hidden; background-color:#FFFFFF;}
#Left-Sizer .OneRecord h5,#Left-Sizer .OneRecordGd h5{
	margin:0px;padding:0px;
	width:100%; height:32px;overflow:hidden;
	background:url(../Images/bgn3.jpg);
	border-top: 1px solid #535755;
    border-bottom: 1px solid #18191d;
	color:#fff;font-size:12px; 
	cursor:pointer; 
	line-height:32px; 
	text-indent:37px;
}
#Left-Sizer .OneRecord h5.open
{background:url(../Images/bgn3.jpg) 0px -32px no-repeat;} 
#Left-Sizer .OneRecord ul
{display:none;}
#Left-Sizer .open ul{
	display:block;
}
#Left-Sizer .OneRecord ul,#Left-Sizer .OneRecordGd ul
{margin:0px; padding:0px; list-style:none;}
#Left-Sizer .OneRecord ul li,#Left-Sizer .OneRecordGd ul li
{width:100%; overflow:hidden;
 background:url(../Images/bgn4.jpg) 18px 9px no-repeat;
 line-height:27px; text-indent:37px;}
#Left-Sizer .OneRecord ul li p{line-height: 24px;font-size: 12px;margin: 0;}
 
#Left-Sizer .OneRecord a:link{color:#000;text-decoration: none;}
#Left-Sizer .OneRecord a:visited{color:#000;text-decoration: none;}
#Left-Sizer .OneRecord a:hover,#Left-Sizer .OneRecord a:active{color:#0000ff;text-decoration:underline;}
#Left-Sizer .OneRecordGd a:link{color:#000;text-decoration: none;}
#Left-Sizer .OneRecordGd a:visited{color:#000;text-decoration: none;}
#Left-Sizer .OneRecordGd a:hover,#Left-Sizer .OneRecordGd a:active{color:#0000ff;text-decoration:underline;}
#leftZw
{width:1px;height:1px; overflow:hidden; position:absolute;left:0px; top:0px;}
