<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>后台管理系统</title>
		<link rel="stylesheet" type="text/css" href="__CSS__/RightFrm.css" />
		<script type="text/javascript" src="__JS__/jquery-1.4.4.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/Bianji/ueditor.config.js"></script>
		<script type="text/javascript" src="__PUBLIC__/Bianji/ueditor.all.min.js"></script>
		<script type="text/javascript" src="__JS__/Comm.js"></script>
		<script type="text/javascript" src="__JS__/webset/jscolor.js"></script>
		<script type="text/javascript" src="__JS__/webset/ThisJs.js"></script>
		<script src="__PUBLIC__/laydate/laydate.js"></script>
		<style type="text/css">
			.laydate {
				width: 80px;
				text-align: center;
			}
			
			.layui-upload-file {
				display: none;
			}
		</style>
	</head>

	<body>
		<table border="0" cellpadding="0" cellspacing="1" class="headTable">
			<tr>
				<th width="100%">系统设置</th>
			</tr>
		</table>
		<form name="theForm" method="post" action="{:U('webSet/editWebSet')}">
			<input type="hidden" name="id" value="<?php echo $theObj['id']; ?>" />
			<table border="0" cellpadding="0" cellspacing="1" class="formTable">
				<tr>
					<th width="15%">网站名称：</th>
					<td width="35%"><input type="text" name="webName" value="{$data.webName}" style="width:95%" /></td>
					<th width="15%">网站LOGO：</th>
					<td width="35%">
						<input type="text" name="webLogo" value="{$data.webLogo}" size="40" />
						<input type="button" value=" 图片上传 " class="btn imgbtn" />
					</td>
				</tr>
				<tr>
					<th width="15%">手机：</th>
					<td width="35%"><input type="text" name="mobile" value="{$data.mobile}" style="width:95%" /></td>
					<th width="15%">座机：</th>
					<td width="35%"><input type="text" name="tel" value="{$data.tel}" style="width:95%" /></td>
				</tr>
				<tr>
					<th width="15%">二维码：</th>
					<td width="35%">
						<input type="text" name="ewm" value="{$data.ewm}" size="40" />
						<input type="button" value=" 图片上传 " class="btn" onclick="showUploadDialog('image','theForm.ewm','__PUBLIC__')" />
					</td>
					<th width="15%">地址：</th>
					<td width="35%"><input type="text" name="address" value="{$data.address}" size="40" /></td>
				</tr>
				<tr>
					<th valign="top">网站首页关键字：</th>
					<td><textarea name="webKeywords" rows="4" style="width:95%;">{$data.webKeywords}</textarea></td>
					<th valign="top">网站首页描述：</th>
					<td><textarea name="webDescription" rows="4" style="width:95%;">{$data.webDescription}</textarea></td>
				</tr>
			</table>

			<table border="0" cellpadding="0" cellspacing="1" class="headTable">
				<tr>
					<th width="100%">其它设置</th>
				</tr>
			</table>
			<table border="0" cellpadding="0" cellspacing="1" class="formTable">
				<tr>
					<th width="15%">是否启用漂浮：</th>
					<td width="35%">
						<input type="radio" name="isShowPf" value="1" /> 开启
						<input type="radio" name="isShowPf" value="0" /> 关闭 背景颜色：
						<input type="text" name="ShowPfColor" value="{$data.ShowPfColor}" size="5" class='color' />
						<script type="text/javascript">
							setDxk("isShowPf", "{$data.isShowPf}");
						</script>
					</td>
					<th width="15%"></th>
					<td width="35%"></td>
				</tr>
				<tr>
					<th>其它第三方代码：</th>
					<td colspan="3"><textarea name="otherCode" id="otherCode" rows="8" style="width:98%;">{$data.otherCode}</textarea></td>
				</tr>
			</table>
			<table border="0" cellpadding="0" cellspacing="1" class="headTable">
				<tr>
					<th width="100%">编辑器设置</th>
				</tr>
			</table>
			<table border="0" cellpadding="0" cellspacing="1" class="formTable">
				<tr>
					<th width="15%">编辑器路径：</th>
					<td width="35%"><input type="text" name="editorBase" value="{$data.editorBase}" size="30" /> <span style="color:#ff0000;">* 根目录直接使用 “/”</span></td>
					<th width="15%">允许上传的文件最大大小：</th>
					<td width="35%"><input type="text" name="editorMaxSize" value="{$data.editorMaxSize}" size="5" /> (单位 M) 超过
						<?php echo get_cfg_var("upload_max_filesize"); ?>无效</td>
				</tr>
				<tr>
					<th>允许上传的图片后缀：</th>
					<td><input type="text" name="editorImgExt" value="{$data.editorImgExt}" size="40" /> 为空表示关闭</td>
					<th>允许上传的附件后缀：</th>
					<td><input type="text" name="editorLinkExt" value="{$data.editorLinkExt}" size="40" /> 为空表示关闭</td>
				</tr>
			</table>
			<table border="0" cellpadding="0" cellspacing="1" class="headTable">
				<tr>
					<th width="100%">网站底部信息：</th>
				</tr>
			</table>
			<table border="0" cellpadding="0" cellspacing="1" class="formTable" style="margin-top:-1px;">
				<tr>
					<td colspan="2"><textarea name="webCopyright" id="webCopyright">{$data.webCopyright}</textarea></td>
				</tr>
			</table>
			<table border="0" cellpadding="0" cellspacing="1" class="formTable" style="margin-top:-1px;">
				<tr>
					<th width="15%">&nbsp;</th>
					<td width="85%"><input type="submit" value=" 立 即 提 交 " class="btn" /></td>
				</tr>
				<tr>
					<td colspan="2">&nbsp;</td>
				</tr>
			</table>
		</form>
		<script type="text/javascript">
			$(function() {
				var toobarsStr = "";
				toobarsStr += "['source', ";
				toobarsStr += "'|', 'undo', 'redo', '|','bold', 'italic', 'underline', ";
				toobarsStr += "'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat'";
				toobarsStr += ", 'formatmatch', 'autotypeset','|','justifyleft', 'justifycenter', ";
				toobarsStr += "'justifyright', 'justifyjustify','forecolor','link', 'unlink']";
				UE.getEditor('webCopyright', {
					toolbars: [eval(toobarsStr)],
					initialFrameHeight: 150,
					initialFrameWidth: '99%'
				});
				setTableColor("no");
			});

			//同时绑定多个
			lay('.laydate').each(function() {
				laydate.render({
					elem: this,
					trigger: 'click',
					theme: '#393D49'
				});
			});
		</script>
		<script type="text/javascript" src="__PUBLIC__/layui/layui.js"></script>
		<script>
			layui.use('upload', function() {
				var upload = layui.upload;
				//执行实例
				var uploadInst = upload.render({
					elem: '.imgbtn', //绑定元素
					url: "{:U('base/upload')}", //上传接口
					size: 1024, //限制文件大小，单位 KB
					done: function(res) {
						console.log(res);
						//如果上传失败
						if(res.code > 0) {
							//			return layer.msg('上传失败');
							return layer.msg(res.message);
						}
						//上传成功
						var item = this.item;
						item.prev("input").val(res.url);
					},
					error: function(e) {
						//演示失败状态，并实现重传
						var demoText = $('#demoText');
						demoText.html(
							'<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
						demoText.find('.demo-reload').on('click', function() {
							uploadInst.upload();
						});
					}
				});
			});
		</script>
	</body>

</html>